.good {
    --main-color: var(--success-color);
    --muted-color: var(--muted-success-color);
}

.mid {
    --main-color: var(--warning-color);
    --muted-color: var(--muted-warning-color);
}

.bad {
    --main-color: red;
    --muted-color: var(--danger-color);
}

.rating-container {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.rating-box {
    display: flex;
    justify-content: space-between;
    width: 26rem;
    height: 4rem;
    border: 3px solid var(--main-color);
    animation: strobe 3s linear infinite;
}

.rating-box.hidden {
    visibility: hidden;
}

@keyframes strobe {
    50% {
        opacity: 0.35;
    }
}

.rating-hatch {
    width: 15%;
    background: repeating-linear-gradient(
        45deg,
        var(--muted-color),
        var(--muted-color) 3px,
        var(--card-bg-color) 3px,
        var(--card-bg-color) 9px
    );
}

/* .rating-hatch.left {
    border-right: 3px solid var(--main-color);
}

.rating-hatch.right {
    border-left: 3px solid var(--main-color);
} */

.rating {
    padding: 0.75rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--main-color);
}
