/* @keyframes spin {
    from {
      transform: translateY(-130%); 
    }
    to {
      transform: translateY(-4000%); 
    }
    0% { transform: translateY(0); }
    100% { transform: translateY(-4000%); }
} */

/* .option {
}

.option.still {
    animation-play-state: paused;
} */

/* .option.spinning {
    animation: spin 2s linear;
    animation-play-state: running;
} */

.game-stratagem-icon {
    height: 8rem;
    width: 8rem;
}
