.slot {
    border: 4px solid var(--card-primary-border-color);
    background-color: var(--card-bg-color);
    height: 20rem;
    width: 10rem;
    overflow: hidden;
}

@keyframes spin {
    from {
      transform: translateY(0); 
    }
    to {
      transform: translateY(-4000%); 
    }
}

.options-container.spinning {
    animation: spin 150s linear;
}
